/* Importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Clearing the default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common styles */
body {
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.header-btn {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 1.5vw;
    width: fit-content;
    background: linear-gradient(to right, rgb(150, 242, 233), rgb(95, 247, 231));
    padding: 12px 20px;
    border-radius: 5px;
}

.ellipsis-text {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Header section styles */
.top-header-container {
    width: 80vw;
    margin: 15vh auto;
    padding-top: 33px;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6em;
}

.top-header-container img {
    width: 40%;
}

.top-header-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.top-header-content h1 {
    font-weight: 700;
    font-size: 4vw;
}

.top-header-content p {
    font-size: 1.5vw;
    color: #cdccccd5;
}

.fa-angles-right {
    padding-left: 10px;
}

/* Main section starts here*/
main {
    width: 80vw;
    margin: auto;
}

/* Blog section */
.blog-container {
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

/* Nav bar */
.nav-container {
    background-color: black;
    border-radius: 10px;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
}

.nav-content {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.nav-content a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 13px 0;
}

/* Article section */
.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.blog-card {
    box-shadow: 3px 4px 8px gray;
    border-radius: 10px;
    background-color: rgba(0, 255, 115, 0.173);
}

.blog-img img {
    display: block;
    width: 100%;
    height: 10em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-card .blog-info,
.blog-title,
.blog-feedback {
    padding: 1em 1em 0 1em;
}

.blog-info a {
    text-decoration: none;
    color: rgb(0, 4, 255);
    font-weight: 600;
}

.blog-title {
    font-size: 1.2vw;
}

.blog-title a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: small;
}

.blog-info .fa-right-long {
    font-size: smaller;
    color: rgb(0, 4, 255);
}

.blog-feedback {
    padding-bottom: 1em;
    display: flex;
    gap: 1em;
}

/* Main section ends here */


/* Footer section */
footer {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    background-color: #161616;
    text-align: center;
    color: white;
    padding: 2em 0;
}

footer h1 {
    padding: 1em 0;
}

footer hr {
    width: 80%;
    margin: 1em auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .footer-links,
.icon-links {
    padding: 2em 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.footer-links a {
    text-decoration: none;
    color: #B9B9B9;
}

.icon-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.icon-links a {
    text-decoration: none;
    color: white;
}

.fa-brands {
    font-size: 1.5em;
}