/* Importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Clearing the default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common styles */
body {
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.header-btn {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 1.6vw;
    width: fit-content;
    background: linear-gradient(to right, rgb(150, 242, 233), rgb(95, 247, 231));
    padding: 16px 25px;
    border-radius: 5px;
}

/* Header section styles */
.top-header-container {
    width: 80vw;
    margin: 15vh auto;
    padding-top: 33px;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6em;
}

.top-header-container img {
    width: 40%;
}

.top-header-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.top-header-content h1 {
    font-weight: 700;
    font-size: 4vw;
}

.top-header-content p {
    font-size: 1.5vw;
    color: #ffffffd5;
}

.fa-angles-right {
    padding-left: 10px;
}

/* Main section */
.main-blog-container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    gap: 1.5em;
}

/* Aside navigation */
.horizontal-nav-container {
    width: 500px;
    height: 200px;
    padding: 30px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.nav-option{
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 10px;
}

/* Article division */
.article-content img{
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    
}
.article-content{
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px silver;
}

/* Inner card texts */
.inner-card-texts{
    padding: 5px;
}

/* Feedback section */
.feedback{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}